body
{
background-color: greenyellow;
}
h1
{
background-color: yellowgreen;
text-align: center;
color: rgb(240, 9, 9);
}
#contenedor
{
    width: 80%;
    background-color: powderblue;
    border-style: solid;
    border-color: red;
    margin: auto;
    margin-top: 30px;
}
#texto{
    width: 60%;
    background-color: silver;
    margin: auto;
}
.rojo{
    color: red;
}
.verde{
    color: green;
}
.azul{
    color: blue;
}
.amarillo{
    color: yellow;
}
#otro{
    background-color: blue;
    width: 40%;
    margin: auto;
    border-style: solid;
    border-color: wheat;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}